.card {
  padding: 10px;
  margin: 8px 4px;
  -webkit-box-shadow: 1px 2px 4px 3px #80808030; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 2px 4px 3px #80808030; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 2px 4px 3px #80808030; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

header {
  background-color: #ecf0f1;
}
h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
/* Header.css */
.header-container {
  background-color: #000; /* Example background color */
  color: #fff; /* Example text color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 24px;
}

.header-menu {
  display: flex;
}

.menu-item {
  margin-left: 20px;
  text-decoration: none;
  color: #fff; /* Example text color */
  font-weight: bold;
  font-size: 16px;
}

.menu-item:hover {
  text-decoration: underline;
}
/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .menu-item {
    margin: 10px 0;
  }
}

/* SignIn.css */
.signin-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
.logo {
  text-decoration: none;
  color: #fff;
}
.footer-container {
  background-color: #000; /* Example background color */
  color: #fff; /* Example text color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
